.images img{
  height: 100px;
  width: 100px;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

.search{
  float: right;
  margin-top: -7%;
}

.float-right{
  float: right;
}

.no-right-pad{
  padding-right: 0;
}

.under-bar{
  border-bottom: 1px solid #eee;
}



