<!doctype html>
<html lang="en" ng-app="finalApp">
<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="../app/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../app/app.css" />
    <script src="../app/bower_components/angular/angular.js"></script>
    <script src="../app/bower_components/angular-route/angular-route.js"></script>
    <script src="../app/app.module.js"></script>
    <script src="../app/app.config.js"></script>
    <script src="../app/image-list/image-list.module.js"></script>
    <script src="../app/image-list/image-list.component.js"></script>
    <script src="../app/image-detail/image-detail.module.js"></script>
    <script src="../app/image-detail/image-detail.component.js"></script>
    <script src="../app/script.js"></script>
</head>
<body>

<!-- Use a custom component to render a list of images -->
<div ng-view></div>

<p>ajdfalskdjfalskd;fjasldkfjas;dflkja</p>
<!--<input type="file" id="myFile" multiple size="50" onchange="uploadFunction()">-->
<!--<p id="demo"></p>-->

</body>
</html>
